body{
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1546587348-d12660c30c50?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    background-size: cover;
}
img{
    width: 300px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50% );
    animation: fly 2s ease-in infinite ;
}
@keyframes fly{
    0%{
        transform: translate(-50%, 0);
    }
    100%{
        transform: translate(-50%,-100vh);
    }
}